@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: #f5f5f5;
    font-family: Fira Sans;
}

main {
    width: 1096px;
    border: 2px solid green;
    margin: 0 auto;
}

/* banner section style start */
.banner-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 50px;
    border-radius: 24px;
    background: rgb(198, 228, 214);
    width: 1000px;
    margin: 0 auto;
}

.banner-section {
    margin: 50px 0px;
}

.banner-info h4 {
    color: rgba(14, 14, 14, 0.5);
}

.banner-info h1 {
    font-size: 40px;
    font-weight: 700;
    margin-top: 0px;
}

.banner-container img {
    width: 381px;
    height: 342px;
}

/* banner section end*/

/* common section start */
.btn-primary {
    border-radius: 5px;
    background: rgb(0, 106, 80);
    padding: 15px 20px;
    border: 0px;
    color: white;
    font-weight: bold;
}

.btn-primary:hover {

    background: rgb(6, 196, 148);

}

.title {
    color: rgb(14, 14, 14);
    font-size: 35px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;

}

.color-primay {
    color: rgba(14, 14, 14, 0.7);
}

/* .common-p {
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
} */


/* common section end  */


/* vission future container with card start  */
.vission-future-container {

    border-radius: 10px;

    margin-bottom: 50px;
}

.vission-future-info p {
    margin-top: 0px;
}

.vission-future-info h2 {
    margin-bottom: 10px;

}

.card-container {
    display: flex;
    justify-content: space-between;
}

.card {
    margin-left: 5px;
    width: 270px;
    padding: 30px;
    border-radius: 10px;
    font-size: 14px;
}

.c1 {
    background-color: #d5e1f5;
    /* background-color: black; */
}

.c1 button {
    border-radius: 5px;
    background: rgb(84, 144, 245);
    padding: 10px 15px;
    border: 0px;
    color: white;
    font-weight: bold;
}

.c1 button:hover {
    background: rgb(34, 106, 231);
}



.c2 {
    background-color: #c6e4d6;
}

.c2 button {
    border-radius: 5px;
    background: rgb(0, 106, 80);
    padding: 10px 15px;
    border: 0px;
    color: white;
    font-weight: bold;
}


.c2 button:hover {
    background: rgb(4, 194, 146);
}

.c3 {
    background-color: #f7ebcf;
}

.c3 button {
    border-radius: 5px;
    background: rgb(255, 194, 57);
    padding: 10px 15px;
    border: 0px;
    color: white;
    font-weight: bold;
}

.c3 button:hover {
    background: rgb(153, 109, 5);
}

/* vission future container with card end  */

/* recent news section start  */
.card-news {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    border-radius: 15px;
}

.card-news-rev {
    margin-top: 20px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    border-radius: 15px;
}

.card-news-info {
    width: 50%;
}

.card-imgsat-container img {
    width: 350px;
    height: 280px;
    border-radius: 15px;
    margin: 40px 0px;
}

.date-time-con {
    display: flex;
    gap: 5px;
}

.news-btn {
    border-radius: 5px;
    background: rgb(0, 106, 80);
    padding: 10px 15px;
    border: 0px;
    color: white;
    font-weight: bold;
}

.news-btn:hover {
    background: rgb(4, 194, 146);
}

/* recent news section end  */